
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/font/OpenSasns/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('text2'), /* Formato mais moderno */
       url('/assets/font/OpenSasns/OpenSans-VariableFont_wdth\,wght.ttf') format('text'); /* Para maior compatibilidade */
  font-weight: normal;
  font-style: normal;
}
.luckiest-guy-regular {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2rem;
}
p ,h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
h2 {
    font-size: 1.5rem;
}
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    background-image: url(/assets/img/IMG_PAPELPAREDE.png);
    background-repeat: no-repeat;
    background-position:bottom;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}
main{
 width: 100%;
}
.botao0 {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.botao1 {
    background-color: white;
    color: black;
    border-radius: 100px;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border-left:7rem solid white;
    border-right: 7rem solid white;
    border-bottom: 0.8rem solid white;
    border-top: 0.8rem solid white;
    margin-bottom: 1rem;
}
.botao2 {
    background-color: black;
    color: white;
    border-radius: 100px;
    border-left:5.8rem solid black;
    border-right: 5.8rem solid black;
    border-bottom: 0.9rem solid black;
    border-top: 0.9rem solid black;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
}
header h1{
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    width: 40%;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-wrap: wrap;
}
header p{
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    max-width: 757px;
}
.block {
    max-width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block img {
    max-width: 100%;
}
.block h2 {
    max-width: 100%;
    max-width:378px;
}
.block p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.3rem;
    max-width:378px;
}
.block h2,p,img {
    margin:10px;
    display: inline-block;
}
.bot0 p,h2{
    float:right;
}
.bot0 {
    width: 100%;
}
.bot1 {
    background-color: #F6F6F6;
    flex-direction: row-reverse;
    width: 100%;
}
.bot3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #F6F6F6;
    width: 100%;
}
.bot3 h1{
    max-width: 608px;
    font-weight: lighter;
    font-size: 2.5rem;
}
.bot3 p{
    max-width: 802px;
}
footer {
    width: 100%;
    height:8rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23272A;
}
svg{
    max-width: 100%;
}
.ox{
    display: flex;
    flex-direction: column;
    float:right;
}
.ox1{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:776px) {
    header {
        align-items: center;
        text-align: center;
        background-size: cover;
    }
    .botao1 {
        margin-bottom: 0px;
        margin-right:10px;
        border-left:20px solid white;
        border-right: 20px solid white; 
     }
     .block h2 {
        max-width: 329px;
     }
     .block p {
        max-width: 348px;
     }
     .bot3 p {
        max-width: 802px;
     }
     .bot3 {
        text-align: center;
     }
    }