
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/font/OpenSasns/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('text2'), /* Formato mais moderno */
       url('/assets/font/OpenSasns/OpenSans-VariableFont_wdth\,wght.ttf') format('text'); /* Para maior compatibilidade */
  font-weight: normal;
  font-style: normal;
}
.luckiest-guy-regular {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2rem;
}
p ,h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
h2 {
    font-size: 1.5rem;
}
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    background-image: url(/assets/img/IMG_PAPELPAREDE.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}
.botao0 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.botao1 {
     background-color: white;
    color: black;
    border-radius: 100px;
    max-width: 100%;
    padding: 1rem 7rem 1rem 7rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: wrap;

}
.botao2 {
     background-color: black;
    color: white;
    border-radius: 100px;
    padding: 1rem 5.5rem 1rem 5.5rem;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30;
}
header h1{
    color: white;
    width: 30%;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-wrap: wrap;
}
header p{
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
}
.block {
    max-width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.block img {
    max-width: 100%;
}
.block h2 {
    max-width: 100%;
}
.block p {
    font-size: 1rem;
}
.block h2,h1,p,img {
    margin:10px;
    
}
.bot0 {
    
}
.bot1 {
    background-color: #F6F6F6;
}
.bot1 p,h2 {
    float:right;
}
.bot3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #F6F6F6;
}
.bot3 h2{
    display: flex;
    order: 2;
}
footer {
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23272A;
}
